<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<style>
    main {
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }

    main h1 {
        text-transform: uppercase;
    }

    main a {
        width: 250px;
        height: 48px;
        color: #4834d4;
        font-size: 17px;
        font-weight: 600;
        text-decoration: none;
        border: 2px solid #4834d4;
        cursor: pointer;
        text-align: center;
        display: inline-block;
        line-height: 48px;
        vertical-align: middle;
        transition: 0.3s;
    }

    main a:hover {
        background-color: #4834d4;
        color: #fff;
    }
</style>

<body>
    <main>
        <h1>Welcome to Chat application</h1>
        <a href="/signup">Create new account &rarr;</a><br><br>
        <a href="/login">Login to your account &rarr;</a>
    </main>

</body>

</html>